<h3>Cadastro de Cliente</h3>
<hr>
<div class="col-md-5">
    <form class="form-group" [formGroup]="this._clienteService.formCliente" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input class="example-form" formControlName="slug" ([ngModel])="cliente.slug" type="hidden">
        </div>
        <p>
            <mat-form-field appearance="standard" class="example-full-width">
                <mat-label>Nome:</mat-label>
                <input matInput class="form-control" formControlName="nomeCompleto" 
                ([ngModel])="cliente.nomeCompleto" 
                placeholder="Nome Completo">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="example-full-width">
                <mat-label>Idade:</mat-label>
                <input matInput class="form-control" formControlName="idade" 
                ([ngModel])="cliente.idade" placeholder="0">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="example-full-width">
                <mat-label>Email:</mat-label>
                <input matInput class="form-control" formControlName="email" ([ngModel])="cliente.email" 
                placeholder="exemplo@exemplo.exemplo">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard" class="example-full-width">
                <mat-label>Sexo:</mat-label>
                <mat-select class="form-control" formControlName="sexo" ([ngModel])="cliente.sexo">
                    <mat-option selected value="outros">Outros</mat-option>
                    <mat-option value="masculino">Masculino</mat-option>
                    <mat-option value="feminino">Feminino</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <div class="form-group">
            <button type="submit" mat-raised-button color="primary"
            [disabled]="!this._clienteService.formCliente.valid">
                <i class="bi bi-save"></i> Salvar
            </button> |
            <button type="button" mat-raised-button color="warn" (click)="goBack()">
                <i class="bi bi-x-circle"></i> Cancelar
            </button>
        </div>
    </form>
</div>
