<div *ngIf="clientes">
    <h3>Deletar Cliente</h3>
    <hr>
    <table>
        <tr>
            <th>Id: {{clientes.slug}}</th>         
        </tr>
        <tr>
            <td>nome: {{clientes.nomeCompleto}}</td>
        </tr>
        <tr>
            <td>idade: {{clientes.idade}}</td>
        </tr>
        <tr>
            <td>email: {{clientes.email}}</td>
        </tr>
        <tr>
            <td>sexo: {{clientes.sexo}}</td>
        </tr>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-danger" (click)="deleteCliente(clientes)">
                <i class="bi bi-trash"></i> Deletar
            </button> |
            <button type="button" (click)="goBack()" class="btn btn-outline-secondary">
                <i class="bi bi-x-circle"></i> Cancelar
            </button>
        </div>
    </table>
    <hr>
</div>
