<h3>Detalhes do Cliente</h3>
<hr>
<div *ngFor="let cliente of cliente"><!--*ngFor="let cliente of clientes"-->
    <table>
        <tr>
            <td>nome: {{cliente.nomeCompleto}}</td>
        </tr>
        <tr>
            <td>idade: {{cliente.idade}}</td>
        </tr>
        <tr>
            <td>email: {{cliente.email}}</td>
        </tr>
        <tr>
            <td>sexo: {{cliente.sexo}}</td>
        </tr>
    </table>
    <hr>
    <div class="form-group">
        <button type="submit" routerLink="/edit/{{cliente.slug}}" 
        (click)="this._clienteService.populateForm(cliente)" mat-raised-button color="primary">
            <i class="bi bi-pencil"></i> Editar
        </button> |
        <button type="button" mat-raised-button (click)="goBack()">
            <i class="bi bi-arrow-return-left"></i> Voltar
        </button>
    </div>
</div>
