<h3>Detalhes do Cliente</h3>
<hr>
<div><!--*ngFor="let cliente of clientes"-->
    <table>
        <tr>
            <td>nome: {{clientes.nomeCompleto}}</td>
        </tr>
        <tr>
            <td>idade: {{clientes.idade}}</td>
        </tr>
        <tr>
            <td>email: {{clientes.email}}</td>
        </tr>
        <tr>
            <td>sexo: {{clientes.sexo}}</td>
        </tr>
    </table>
    <hr>
    <div class="form-group">
        <button type="submit" routerLink="/edit/{{clientes.slug}}" 
        (click)="this._clienteService.populateForm(clientes)" mat-raised-button color="primary">
            <i class="bi bi-pencil"></i> Editar
        </button> |
        <button type="button" mat-raised-button (click)="goBack()">
            <i class="bi bi-arrow-return-left"></i> Voltar
        </button>
    </div>
</div>
