<h3>Lista de Clientes</h3>
<form class="form-inline">
    <input type="text" class="form-control" name="searchInput" placeHolder="Procurar" 
    #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%">
    <button mat-raised-button type="button" (click)="searchText=''"> 
        <i class="bi bi-search"></i> Flitrar 
    </button>
</form>

<table class="table mat-elevation-z8">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>
                <button routerLink="/create" mat-raised-button matTooltip="Cadastrar novo cliente">
                    <i class="bi bi-person-plus"></i>
                </button>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes; index as i">
            <tr *ngIf="filterCondition(cliente)">
                <th scope="row">{{i + 1}}</th>
                <td>{{cliente.nomeCompleto}}</td>
                <td>{{cliente.idade}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.sexo}}</td>
                <td>
                    <a routerLink="/edit/{{cliente.slug}}" (click)="this._clienteService.populateForm(cliente)">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                </td>
                <td>
                    <a routerLink="/detail/{{cliente.slug}}">
                        <i class="bi bi-list"></i> Detalhes
                    </a>
                </td>
                <td>
                    <a (click)="deleteCliente(cliente)" style="cursor: pointer; color: red;">
                        <i class="bi bi-trash"></i> Deletar
                    </a>
                </td>
            </tr>
    </tbody>
</table>
